.title {
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 2px solid white;
  font-size: 1.125rem;
  color: #444444;
  user-select: none;

  &:hover {
    border-bottom: 2px solid #eeeeee;
    cursor: pointer;
  }

  &.open {
    border-bottom: 2px solid #5c68b8;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.filterList {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5px;

  @media (max-width: 768px) {
    justify-content: center;
  }

  .filter {
    padding: 4px 7px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    color: #bbbbbb;
    font-size: 0.875rem;
    text-transform: uppercase;
    user-select: none;

    &:hover {
      border-color: #0019a9;
      color: #0019a9;
      cursor: pointer;
    }

    &.active {
      border-color: #0019a9;
      background-color: #0019a9;
      color: white;
    }
  }
}

:global(.ReactCollapse--collapse) {
  transition: height 300ms;

  @media (min-width: 992px) {
    transition: none;
  }
}

.playerContainer {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 20px;

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.videoList {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 463px) {
    justify-content: center;
  }
}

.placeholderText {
  font-size: 0.875rem;
  padding-left: 10px;
  padding-bottom: 20px;
}
